extends ../project-template.pug
block title&description
block bodyTag 
block content
 .wrapper
  img(src="../img/dallas-mission-v3-ipad-iphone@2x-1-1024x950.png") 
 
  .project-section.about-project
    span.project-num 01 
    .project-title About the Project
    .project-content
      h1
        | Dallas Missionary Church is a fictional church created by Assure Studios to create a mock-up of a modern church website I have three versions of this website this is the first two.
  .project-section.typography
    span.project-num 02 
    .project-title typography
    .typo-container(style="font-family: 'hind'; font-weight: 300;")
      .typo-box
        .typo-highlight Aa
        .typo-name Hind light
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
      .typo-box(style='font-weight: 400;')
        .typo-highlight Aa
        .typo-name Hind Regular
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
    .typo-container(style="font-family: 'proxima-nova', sans-serif;")
      .typo-box(style='font-weight: 400;')
        .typo-highlight Aa
        .typo-name Proxima Nova Regular
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
      .typo-box(style='font-weight: 500;')
        .typo-highlight Aa
        .typo-name Proxima Nova medium
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
      .typo-box(style='font-weight: bold;')
        .typo-highlight Aa
        .typo-name Proxima Nova semi-bold
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
  .project-section.project-colors
    span.project-num 03 
    .project-title Project Colors
    .project-color-container
      .project-color-box(style='background-color: #cf8087; color: #fff;') #CF8087
      .project-color-box(style='background-color: #26bfe7; color: #fff;') #26BFE7
      .project-color-box(style='background-color: #191717; color: #fff;') #191717
  .project-section
    .project-image
      .project-image-container
        span.project-num 04 
        .project-title-mockup Desktop Mockup
        img.alignnone.size-full.wp-image-1939(src='https://assurestudios.com/wp-content/uploads/2021/06/watermark-1920-1.jpg' alt='Dallas Missionary Church Version Two Version' width='1914' height='6671')
      .project-image-container
        span.project-num 05
        .project-title-mockup Mobile Mockup
        img.alignnone.size-full.wp-image-1941(src='https://assurestudios.com/wp-content/uploads/2021/06/watermark-mobile-2.jpg' alt='dallas-missionary-church-version-two-mobile' width='414' height='6704')
