extends ../project-template.pug
block title&description
block bodyTag 
block content
 .wrapper
    img(src="../img/dallas-mission-v3-ipad-iphone@2x-1-1024x950.png") 
    .project-section.about-project
      span.project-num 01 
      .project-title About the Project
      .project-content
        h1
          | Dallas Missionary Church is a fictional church created by Assure Studios to create a mock-up of a modern church website I have three versions of this website, this is the third one.
    .project-section.typography
      span.project-num 02 
      .project-title typography
      .typo-container(style="font-family: 'hind'; font-weight: 300;")
        .typo-box
          .typo-highlight Aa
          .typo-name Hind light
          .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
          .typo-numbers 1234567890
        .typo-box(style='font-weight: 400;')
          .typo-highlight Aa
          .typo-name Hind Regular
          .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
          .typo-numbers 1234567890
      .typo-container(style='font-family: heebo, sans-serif;')
        .typo-box(style='font-weight: 400;')
          .typo-highlight Aa
          .typo-name Heebo Regular
          .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
          .typo-numbers 1234567890
        .typo-box(style='font-weight: 500;')
          .typo-highlight Aa
          .typo-name Heebo Medium
          .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
          .typo-numbers 1234567890
      .typo-box(style='font-weight: bold;')
        .typo-highlight Aa
        .typo-name Heebo Bold
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
    .project-section.project-colors
      span.project-num 03 
      .project-title Project Colors
      .project-color-container
        .project-color-box(style='background-color: #1e1d1d; color: #fff;') #1E1D1D
        .project-color-box(style='background-color: #f26522; color: #fff;') #f26522
        .project-color-box(style='background-color: #6dcff6; color: #fff;') #6dcff6
    .project-section
      .project-image
        .project-image-container
          span.project-num 04 
          .project-title-mockup Desktop Mock-up
          img.alignnone.size-full.wp-image-1879(src='https://assurestudios.com/wp-content/uploads/2021/06/Dallas-Missionary-Church-Version-Three.jpg', alt='', width='1920', height='7114')
        .project-image-container
          span.project-num 05
          .project-title-mockup Mobile Mock-up
          img.alignnone.size-full.wp-image-1880(src='https://assurestudios.com/wp-content/uploads/2021/06/dallas-missionary-church-version-three-mobile.jpg', alt='', width='599', height='10000')
