extends ../project-template.pug
block title&description
block bodyTag 
block content 
 .wrapper
  img(src="../img/dallas-mission-v1-ipad-iphone@2x-1-1024x950.png") 
  .project-section.about-project
    span.project-num 01 
    .project-title About the Project
    .project-content
      h1 Dallas Missionary Church is a fictional church created by Assure Studios to create a mock-up of a modern church website I have three versions of this website this is the first one.
  .project-section.typography
    span.project-num 02 
    .project-title typography
    .typo-container(style="font-family: 'Montserrat'; font-weight: 300;")
      .typo-box
        .typo-highlight Aa
        .typo-name Montserrat
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
      .typo-box(style='font-weight: 400;')
        .typo-highlight Aa
        .typo-name Montserrat Medium
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
      .typo-box(style='font-weight: bold;')
        .typo-highlight Aa
        .typo-name Montserrat Bold
        .typo-letters AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz
        .typo-numbers 1234567890
  .project-section.project-colors
    span.project-num 03 
    .project-title Project Colors
    .project-color-container
      .project-color-box(style='background-color: #177fb4; color: #fff;') #177FB4
      .project-color-box(style='background-color: #0e0f12;') #0E0F12
      .project-color-box(style='background-color: #f6f6f6;') #F6F6F6
  .project-section.container-fluid 
    .project-image.row
      .project-image-container.col-lg-12.col-xl-8
        span.project-num 04 
        .project-title-mockup Desktop Mock-up
        img.alignnone.size-full.wp-image-1887(src='https://assurestudios.com/wp-content/uploads/2021/06/Elevate-1920.jpg', alt='', width='1920', height='4820')
      .project-image-container.col-lg-12.col-xl-4
        span.project-num 05
        .project-title-mockup Mobile Mock-up
        img.alignnone.size-full.wp-image-1886(src='https://assurestudios.com/wp-content/uploads/2021/06/elevate-mobile-for-stock@2x.jpg', alt='', width='828', height='8588')
