@import "sass/color";

.banner-title {
  color: $assure-black;
  font-weight: bolder;
  font-size: 2.7rem;
}
.banner {
  display: flex;
  margin: 100px 0px 75px 0px;
  padding: 3%;
}
.banner .assure-button{
  font-size: 1.1rem;
  font-weight: bolder;
}

// hds and 4k screens
@media (min-width: 1700px) {
  #home .banner {
    background-image: url("/img/assure-banner.png");
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 10%;
    background-color: #7abcda;
    background-position: bottom right;
    height: 70vh;
  }
  .banner h1 {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: none;
    width: 50%;
  }
  .banner-title {
    font-size: 76px;
  }
}

@media (max-width: 1700px) {
  #home .banner {
    background-image: url("/img/assure-banner.png");
    background-repeat: no-repeat;
    background-size: 67%;
    padding: 6%;
    background-color: #7abcda;
    background-position: bottom right;
    height: auto;
  }
  .banner h1 {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: none;
    width: 50%;
  }
}

@media (max-width: 1200px) {
  #home .banner {
    background-image: url("/img/assure-banner.png");
    background-repeat: no-repeat;
    background-size: 48%;
    background-color: #7abcda;
    background-position: center 50px;
    height: auto;
    padding: 35% 4% 20%;
    margin: 20px 0px 75px !important;
  }
  .banner h1 {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: none;
    width: auto;
    text-align: center;
    margin: 0px 0px 45px 0px !important;
  }
  .banner .row {
    text-align: center;
  }
}

@media (min-width: 2000px) {
  #home .banner {
    background-image: url("/img/assure-banner.png");
    background-repeat: no-repeat;
    background-size: 70%;
    padding: 6%;
    background-color: #7abcda;
    background-position: bottom right;
    height: 80vh;
  }
  .banner h1 {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: none;
    width: 50%;
  }
}

@media (max-width: 600px) {
  #home .banner {
    padding: 45% 4% 20%;
    background-size: 80%;
    height: 100vh;
    background-position: center 80px;

  }
  .banner h1 {
    font-size: 1.2em !important;
    font-weight: bold;
    text-transform: none;
    background-size: 72%;
    margin-bottom: 20px;
  }
}
