@import "sass/color";
// mobile
.moveMobileNav {
  transform: translateX(-2000px);
  transition: all 1s;


  a, tel {
    text-decoration: none !important;
  }
}
.mobile-close span {
  margin-bottom: 30px;
  font-size: 2.7rem;
  font-family: raleway, sans-serif;
  font-weight: 600;
  width: fit-content;
}
.hideScrollBar {
  overflow-y: hidden;
  overflow-x: hidden;
}

.header-button {
  padding: 20px;
  background-color: $assure-highlight !important;
  border-radius: 12px !important;
  color: white !important;
  border: none !important;
  font-size: 18px;
  text-transform: capitalize;
}


