img {
  max-width: 100%;
  height: auto;
}
ul{
  padding-inline-start:20px
}

::placeholder {
  text-transform: capitalize;
  text-indent: 5px;
}
.titleExpander{
  font-size: 1.5em;
}

.noBorder{
  border: none;
}

.show{
  opacity:1;
  transition: all 300s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.hide{
  opacity: 0;
  transition: all 300s ease-in-out;
  -webkit-transition: all .5s ease-in-out;

}

.remove{
  display: none;
}
.addNode{
  display: block;
}

.required{
  color: #bd3636;
}
