.section.container-fluid.free-stuff
  h2 We Just love to give away free stuff
  hr
  .free-list
    ul.d-flex
      li Free Consultations
      li Free Seo Audits
      li Free Web Performance Audits
  p Here at Assure Studios, we are committed to helping businesses grow and prosper. That's why we offer a range of free digital marketing services.
  p Our Free SEO audits are designed to help you identify areas where your website could be improved in order to attract more organic traffic.
  p Our Free consultations are an opportunity for you to discuss your specific needs with one of our digital marketing experts.
  p Our Free web performance audits will help you identify any potential issues that could be affecting the loading speed of your website.
  p So whatever your digital marketing needs, we have a service that can help. Contact us today to find out more
  button.mt-4(onClick="location.href='./seo-audit.html'").button.assure-button Get Our Free <br> SEO Audit Today !
