h2 Our web development packages
p At Assure Studios, we understand that not every business has the same budget for web development.
p That's why we offer a variety of packages that are competitively priced and work for businesses of all sizes. We've helped businesses of all types develop successful online presence, and we can do the same for you. Contact us today to learn more about our web development packages and how we can help you achieve your goals.
.container
  .row.mb-5
    .col-xxl-4(data-aos="zoom-in-left").card.card-offer
      .offer-header
        h3 bronze package
        p.price Starting at
          span  $1000
      p.card-emphasis A basic site with a pre-made template that best meets your needs.
      .goals
        h4.mt-2.mb-2 Website Package Details
        ul
          li Website Template
          li 2 Hour Brainstorm
          li Mobile friendly
          li Social Media Integration
          li Contact Form
          li 2 Rounds of Revisions
    .col-xxl-4(data-aos="zoom-in-right").card.card-offer
      .offer-header
        h3 silver package
        p.price Starting at
          span  $1500
      p.card-emphasis A customized web template that we find and customized to your liking.
      .goals
      h4.mt-2.mb-2 Website Package Details
      ul
        li Everything that the bronze package includes plus
        li Customized Theme
        li 4 Hour Brainstorm
        li Google Analytics
        li 3 Rounds of Revision
        li Mailing List Plugin

    .col-xxl-4(data-aos="zoom-in-right").card.card-offer
      .offer-header
        h3 gold package
        p.price Starting at
          span  $2500
      p.card-emphasis A site build from scratch to better serve your business and your brand.
      .goals
        h4.mt-2.mb-2 Website Package Details
        ul
          li Everything that the silver package includes plus
          li 4 rounds of revisions
          li An SEO strategy
          li Two integrated landing pages
