# Created by https://www.htaccessbuilder.com/
# Sun, 27th March 2022
<IfModule mod_rewrite.c>

# Force clients to use https
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://assurestudios.com/$1 [R=301,L]

# Redirect from www.
RewriteCond %{HTTP_HOST} ^www.assurestudios.com$
RewriteRule (.*) https://assurestudios.com/$1 [R=301,L]

# Redirect Urls (Permanent)
RewriteRule ^about\-page/$  https://assurestudios.com/about.html [R=301,L]


# Redirect Urls (Permanent)
RewriteRule ^about/$  https://assurestudios.com/about.html [R=301,L]


# Redirect Urls (Permanent)
RewriteRule ^contact/$  https://assurestudios.com/contact.html [R=301,L]


# Redirect Urls (Permanent)
RewriteRule ^blog/$  https://assure-studios.blogspot.com/ [R=301,L]


# Redirect Urls (Permanent)
RewriteRule ^church\-post\-ideas/$  https://assure-studios.blogspot.com/2022/03/22-church-social-media-post-ideas.html [R=301,L]

# Redirect Urls (Permanent)
RewriteRule ^2021/05/06/make\-sure\-your\-church\-web\-site\-is\-accessible\-to\-everyone/$  https://assure-studios.blogspot.com/2022/04/blog-post.html [R=301,L]


# Redirect Urls (Permanent)
RewriteRule ^portfolio/$  https://assurestudios.com/portfolio.html [R=301,L]


# Add Caching.
<FilesMatch ".(svg|ico|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=4233600"
</FilesMatch>

# Custom error pages.
ErrorDocument 404 /./404.html

# Compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

</IfModule>
