block callToAction
  .callToAction(data-aos="fade-down" data-aos-duration="1000")
    .container-fluid
      .row.justify-content-around.align-items-center
        .col-sm-12.col-lg-9.mb-3
          h2 Do You need a free consultation?
          p Do You Have a business in the #{city} area, Do you need to talk us about your web development, digital marketing and SEO needs. We would love to hear more about how we can help!
        .col-sm-12.col-lg-3.mb-3

          button(onClick="location.href='./contact.html'").chatBtn.assure-button Please Contact Us
