extends template.pug
block title&description
  meta(name="description" content="Assure Studios help small business and churches grow and prosper with digital marketing plans Call for a free consultation (972) 898-7128")
  title Assure Studios Digital Marketing
block bodyTag
  -var bodyTag="404"
  body(id=`${bodyTag}`)
block content
  .container
   .row
    h1 404 error
    h2 Sorry we couldn't find that page
