extends template.pug
block title&description
  meta(name="description" content="Assure Studios 404 page")
  title Assure Studios Digital Marketing 404 page
block bodyTag
  -var bodyTag="404"
  body(id=`${bodyTag}`)
block content
  .container
   .row
    h1 404 error
    h2 Sorry we couldn't find that page
