extends template.pug
block title&description
 meta(name="description" content="Learn about Assure Studios based out of Dallas Texas. We specialize in search engine optimization (SEO), web design, and more to help small businesses and churches grow. Contact us today for a free consulta")
 title About Assure Studios-Digital Marketing-Dallas,Texas
block bodyTag
  -var bodyTag="about"
  body(id=`${bodyTag}`)

block content

    .section.intro.container-fluid
     .row.flex-wrap-reverse
      .col-xl-8
       h1
        span.titleExpander About
        | <br>
        | Assure Studios
       p Assure Studios is a digital marketing and web development company based out of Dallas Texas. Our mission is to help small businesses and churches grow and prosper through digital marketing strategies.
       p We are a company devoted to results, we create realistic digital marketing plans comprised of smart goals that your business can reach. Were a small, affordable and flexible company dedicated to building prospering businesses.
      .col-xl-4
          img(src="./img/logo.png" alt="Logo of assure studios which is a big A").about-logo
    .section.container-fluid(data-aos="zoom-in-down")
     .row.justify-content-center
      .col-xl-6
        img(src="./img/johns-anime.jpg" alt="john moore founder of assure studios")
      .col-xl-6
       h2 Hello Im John
       p At an early age, I fell in love with web design, web development, and later digital marketing and so I decided to start Assure Studios. I found myself wondering how I could compete against all these other marketers until the answer came: honesty, hard work, and transparency are what set us apart from them!
       p The contrast between a company that is transparent and has nothing to hide, versus one with hidden agendas will always be visible. A business should have the customer’s best interests at heart when providing services or products .
       p With Assure Studios we provide this transparency by only working on projects where you can see how your money was spent so that if there were any mistakes made along the way they are not long lasting ones either; because at our core beliefs everything should lead towards success which means making sure each client gets exactly what he/she deserves regardless of size or budget (even though bigger budgets may seem like an easier option.
    .section.offer.container-fluid
     .row
      .col-xl-4.align-self-center
       h2 what we offer
      .col-xl-4.card.card-offer.col-md-12
        .icon
        .offer-header
         h3 Search Engine Optimization
         .price Starting at
          span  $399
          |  a month

        p #[b Search Engine Optimization] helps you connect with your customers build your brand and increase sales
        ul.goals
          h5 Goals:
          li Generate Traffic
          li Increase Conversions and revenue
          li Increase Brand Awareness
          li Decrease Bounce Rate
      .col-xl-4.card.card-offer.col-md-12
        .icon
        .offer-header
         h3 Social Media Marketing
         .price Starting at
          span  $499
          |   a month
        p #[b Social Media Marketing] is the use of social media networks to achieve your marketing and branding goals
        ul.goals
          h5 Goals:
          li Increase Engagement
          li Learn Customer Concerns and Problems
          li Increase Brand Awareness
          li Build A Community of Advocates.
          li Acquire new customers.
      .col-xl-4.card.card-offer.col-md-12
        .icon
        .offer-header
         h3 Social Media Advertising
         .price Starting at
          span  $499
          |  a month
        p #[b Social Media Advertising] is where paid ads are run on social media platforms to reach target customers
        ul.goals
          h5 Goals:
          li Lead generation
          li Increase Brand Awareness
          li Increase Traffic
          li Increase Revenue
      .col-xl-4.card.col-md-12.card-offer
        .icon
        .offer-header
         h3 Web Design & Development
         .price Starting at
          span  $500
        p  #[b Web Development] refers to the building, creating, Optimizing and maintaining of websites
        ul.goals
          h5 Goals:
          li Increase Brand Recognition
          li Increase Sales
          li Lead Generation
          li create a better user experience

