extends template.pug

block title&description
  meta(name="description" content="Assure Studios help churches grow and prosper with church digital marketing plans Call for a free consultation (972) 898-7128")
  title Assure Studios church digital marketing plans and strategies
block bodyTag
  -var bodyTag="church-digital-marketing"
  body(id=`${bodyTag}`)


block content
 .section.intro.container-fluid
     .row.align-items-center.mb-5
       .col-xxl-2.d-none.d-xl-block(data-aos="fade-left" data-aos-duration="1000").col-lg-12
         img(src="./img/church-logo.png" alt="assure studios digital marketing church logo")
       .col-xxl-10.col-lg-12
         h1.mt-0 church digital marketing
       .row.mt-5
        .col-xxl-12.mt-5
         p
          span.assureBold Assure Studios &nbsp;

          | is a digital marketing company based out of Dallas Texas that loves working with churches.
         p We are here for you! When the life of a pastor becomes hectic and stressful, we want to be able provide assistance in order that your church may grow with an easy-to follow digital marketing strategy.
         p Assure Studios is based out of Dallas, Texas. Our Mission is to help small businesses and churches grow and prosper through Digital Marketing Strategies. We offer social media management, social media marketing, and web development.
         p Church digital marketing takes time and patience. Assure Studios create realistic smart goals and weekly reports. So that you know your money is not being wasted.

       .container-fluid
        .row.justify-content-between
         .col-12.content-section
           img(src="./img/assure-church.jpeg" alt="assure studios digital marketing church logo")
           h2 Why Churches need Digital Marketing
           h3.fst-italic Digital marketing helps churches reach out and engage with their community.
           p In order for churches to effectively reach their congregation and local community, many are using digital marketing. Through church websites and social media platforms, Christians can easily share information about upcoming events, Bible study groups, and the overall life of the church. Additionally, church leaders can use digital marketing to connect with members who may be unable to attend services in person. By sending out regular newsletters or posting engaging videos online, churches can stay top of mind and nurture their relationships with congregants.
           p In a world that is increasingly online, church digital marketing provides an invaluable way for churches to reach out and engage with their community.
         .col-12.content-section
         h2 Our other church services
         .col-12.content-section
           h3 Church SEO
           p As the church continues to grow and evolve, so does its need for a stronger online presence. For many people, the church is their home away from home; a place where they can feel safe and loved. However, in order for the church to reach more people, it needs to be visible online. That's where SEO comes in. SEO, or Search Engine Optimization, is the process of making a church's website more visible in search engine results. By optimizing church websites for relevant keywords, churches can ensure that they appear higher in search results and attract more visitors.
           p In addition to making church websites more visible, SEO can also help churches to connect with their members and build relationships. By optimizing church websites for SEO, churches can reach more people and make a difference in their lives.
         .col-12.content-section
           h3 Church Website Development
           p When it comes to church web development, the most important thing is to create a site that reflects the church's brand and unique culture. Doing so will help to attract new members and keep existing ones engaged.
           p The church's website should be user-friendly and easy to navigate, with clear links to all of the church's essential information.
           p In addition, the site should prominently feature the church's mission statement, and values. By creating a church website that accurately reflects the church's brand and culture, you can help to ensure that the site is an effective tool for attracting new members and supporting existing ones.
         .col-12.content-section
           h3 Church Reputation Management
           p In today's world, church reputation is more important than ever. With the rise of social media, it's easier than ever for churchgoers to share their experiences with the world. That's why it's crucial for churches to have a church reputation manager.
           p A church reputation manager can help to ensure that all church communications are positive and professional. They can also help to monitor social media platforms for negative comments and take steps to address them.
           p Additionally, a church reputation manager can work with the church leadership to develop a plan for dealing with difficult situations. By enlisting the help of a church reputation manager, churches can take proactive steps to protect their reputations and ensure that they are seen in a positive light by their congregations.
 .section.container-fluid
    h2 The latest portfolio piece
    img(src="./img/Dallas-missionary-church-version-three.png")
    h2 Dallas Missionary Church Version Three
    p A church's website is often the first point of contact between the church and a potential new member. In an age where social media is increasingly dominating the way we communicate, it's more important than ever for churches to have an online presence that is both beautiful and functional.
    p A mobile-friendly website that is easy to navigate and engaging is essential in today's landscape. At our company, we design church websites that are beautiful and easy to use, with a focus on engagement. We believe that interacting with potential new members through social media and other means is essential in order to grow a healthy church. Our goal is to help churches reach their full potential by providing them with a website that is both visually stunning and easy to use. Contact us today to learn more about our services!
    p To see the full mockup &nbsp;
     a(href="./portfolio/dallas-missionary-church-version-three.html") Dallas Missionary Church Version Three
 .section.container-fluid
    h2 The latest church blog post
    img(src="./img/social-media-strategy.jpg" alt="assure studios social media strategy")
    h3 Why does your church need a digital marketing strategy?
    p Hello, im John Moore with assurestudios.com, and I am here to discuss your church developing a social media strategy. Developing your church’s social media strategy can be a daunting task so we are here to simplify things and point you in the right direction. first things first understand why you need a social media strategy.
    a.more-link(href="https://assurestudios.com/blog/how-to-create-a-winning-church-digital-marketing-strategy") Continue reading
 .section.container-fluid
   h2 The Faqs
   p Top three questions about church digital marketing.
   .row.justify.content-between

     #accordionFaq.accordion.accordion-flush
      .accordion-item
        h3#faq-headingOne.accordion-header
          button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#faq-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
            | Why do churches need digital marketing?
        #faq-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
          .accordion-body
            p church digital marketing is a new form of digital outreach that helps you differentiate your church from the other churches in your area
      .accordion-item
        h3#faq-headingTwo.accordion-header
          button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#faq-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
            | How to market a church a church?
        #faq-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
          .accordion-body
            p There are several ways to do marketing for a church.
            p Here are just a few.
            ul
             li Your church website
             li Social media campaigns
             li Text Message campaigns
             li Email campaigns
             li Digital ads
      .accordion-item
        h3#faq-headingThree.accordion-header
          button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#faq-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
            | What are some social media ideas for churches?
        #faq-collapseThree.accordion-collapse.collapse(aria-labelledby='flush-headingThree' data-bs-parent='#accordionFlushExample')
          .accordion-body
           h4 here are 22 Church Social Media Post Ideas
           h5 1&#8226; Recap an event
           p Post the exciting highlights of an event that just occurred. Make people who missed the event kick themselves and prepare to catch the next one and make the people who attended the event remember how much fun or how life-changing the event was.

           h5 2&#8226; Share Testimonies
           p Testimonies are how churches can encourage and inspire by sharing stories that help us all relate to our own hills and valleys. These stories are what drive us and help us keep our faith. Simple testimonial posts can change lives.

           h5 3&#8226; Highlight your volunteers
           p We all love our volunteers so he would show them, and tell them why we love them so much. Maybe reward them with a gift or let people post a nice message about them in a post.
           p.mt-5 To read the entire blog post &nbsp
            a(href="https://assure-studios.blogspot.com/2022/03/22-church-social-media-post-ideas.html" title="22 Church Social Media Post Ideas") 22 Church Social Media Post Ideas

block callToAction
          .callToAction(data-aos="fade-up" data-aos-duration="1000")
            .container-fluid
             .row.justify-content-around.align-items-center
                .col-sm-12.col-lg-8.mb-3
                 h2 Do Your Church Need A Free Consultation?
                 p We would love to hear more about how we can help your church grow with church digital marketing! Please schedule a free consultation with us so that we can learn more about your church needs.
                .col-sm-12.col-lg-3
                 button(onClick="location.href='./contact.html'").chatBtn.assure-button Please Contact Us
