extends template.pug
block title&description
  meta(name="description" content="Contact Assure Studios for all of your SEO, web design, and marketing needs. We're based in Dallas Texas and specialize in helping small businesses and churches grow.")
  title Contact Assure Studios
block bodyTag
 -var bodyTag="contact"
 body(id=`${bodyTag}`)


block content
  .section.intro
   .container-fluid
    form#contactForm(name="contact" method="post")
     .row.justify-content-center
      h1 Our contact page
      h2.mt-2.mb-3  Click the link or fill out the form below
      h3
       a(href="#").text-lowercase john@assurestudios.com
       | &nbsp
      .col-12.mt-5
        fieldset#consoltation_type
         legend.mb-5.mt-5 Do you need consultation for a business or a non-profit
         .div.form-check
          input(class="form-check-input" type="radio" id="business" name="type_org" value="Business" checked)
          label.form-check-label(for="business") Business
         .div.form-check
          input(class="form-check-input" type="radio" id="church" name="type_org" value="Church")
          label.form-check-label(for="church") Church or Non-profit
      .col-12
        label(for="f_name") Your Name
        input.input-form(id ="f_name", name="f_name", type="text" required)
        .inputError
      .col-12#org_name.type_org_input.show
        label(for="org_name") Your Business Name
        input.input-form(type="text" )
        .inputError
      .col-12#church_name.type_org_input.hide.remove
        label(for="church_name") Your Church or Non-profit
        input.input-form(type="text" )
        .inputError

      .col-12
        label(for="phone") Your Phone
        input.input-form(id ="phone", type="tel")
        .inputError

      .col-12
        label(for="email") Your Email
        input.input-form(id="email", type="email")
        .inputError

      .col-12
        label(for="contactMessage") Leave a Message
        textarea.input-form(id ="contactMessage", name="", cols="30", rows="10")
        .inputError

      .col-12.mt-3
        input(id="contactSubmit", type="submit", value="submit").button.assure-button
      #submitMessage
block callToAction
  block append scripts
   script(src="js/contact.js")
