extends template.pug
block title&description
  meta(name="description" content="Assure Studios help small business and churches grow and prosper with digital marketing Call for a free consultation (972) 898-7128")
  title Assure Studios-What Is digital marketing
block bodyTag
  -var bodyTag="home"
  body(id=`${bodyTag}`)
block content
    .content-section.mt-5
    .row
      .col-xl-8
        img(src="./img/assure-studios-digital-marketing.jpeg" alt="assure-studios-digital-marketing picture")
        h1 What Is Digital Marketing?
        p Digital marketing involves all marketing efforts that use a digital device or the internet.
        p  In this day of age, digital marketing is essential for your business and your brand. It gives companies of all sizes with an opportunity to inexpensively market their brand 24/7.
        P Digital marketing have significantly increased since covid-19. Post-Pandemic, consumers around the world spent $900 billion more at online retailers in 2020 versus the prior two-year trend, according to the Mastercard Economics Institute.
        .content-section
        h2 What Does It Mean For Your Business?
        p With Digital Marketing you can use channels such as social media, email marketing, and blogs to connect and engage with clients on a local level as well globally.
        p Digital marketing lets smaller businesses outmaneuver bigger companies by allowing them to target relevant niche audiences and markets.
        p Although some digital marketing channels are more effective than others, the beauty of a digital marketing strategy is that you can build a combination of channels and tactics that works for your audience.
        .content-section
          h2 How Do Digital Marketing Work
          p Digital Marketing works by using digital marketing channels to reach specific goals.
          p Your church goals might be to
          ul
            li Generate more traffic to your church website.
            li Increase brand awareness.
            li Increase brand engagement.
            li Increase revenue
        .content-section
          h2.mt-2.mb-5 The Channels we focus on
          h3.mt-3.mb-2 Content Marketing
          p.mb-2 Content marketing is the process of creating and sharing relevant and consistent content.
          p.mb-2 One of the key goals of content marketing is to provide people with inspirational, life-changing content that adds value to their lives.
          h3.mt-3.mb-2 Email Marketing
          p.mb-2 Email marketing is about creating a list of segmented groups of people and crafting an intimate, personalized message for each group. A segmented group might be parents, students, or married couples, and all these groups should be marketed to different groups.
          h3.mt-3.mb-2 Search Engine Marketing
          p.mb-2 Search Engine Optimization or SEO is the practice of increasing the traffic to your church website, blogs, newsletters, and social media content.
          h3.mt-3.mb-2 Social Media Marketing
          p.mb-2 Social media marketing is the use of social media platforms to connect and engage with your congregation and your local community.
        .content-section
          h3 The Takeaways…
          ul
          li Digital Marketing is a new form of outreach.
          li The digital marketing channels we focus on is content, social media, and SEO
          li Content marketing is about providing inspirational, life-changing content that adds value to people’s lives.
      .talents.col-xl-4
        h4 Other Talents
        div
          a(href="./seo.html" title="assure studios explains search engine optimization") SEO Explained
        div
          a(href="./web-development.html" title="assure studios explains web optimization") Web Development Explained
