extends template.pug
block title&description
  meta(name="description" content="Assure Studios help small business and churches grow and prosper with digital marketing Call for a free consultation (972) 898-7128")
  title Assure Studios-What Is digital marketing
block bodyTag
  -var bodyTag = "home"
  body(id=`${bodyTag}`)
block content

      .container-fluid
       h1 Faqs
       p Top questions about digital marketing, web development, and SEO.

      .container-fluid.section
       .row.justify.content-between
         h2 Questions About Digital Marketing
         #digital-marketing-Faq.accordion.accordion-flush
          .accordion-item
            h3#digital-marketing-headingOne.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#digital-marketing-collapseOne' aria-expanded='false' aria-controls='digital-marketing-collapseOne')
                | What is Digital Marketing?
            #digital-marketing-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#digital-marketing-Faq')
              .accordion-body
                p Digital marketing involves all marketing efforts that use a digital device or the internet.
          .accordion-item
            h3#digital-marketing-headingTwo.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#digital-marketing-collapseTwo' aria-expanded='false' aria-controls='digital-marketing-collapseTwo')
                | What Does Digital Marketing Mean For Your Business?
            #digital-marketing-collapseTwo.accordion-collapse.collapse(aria-labelledby='digital-marketing-headingTwo' data-bs-parent='#digital-marketing-Faq')
              .accordion-body
                p With Digital Marketing you can use channels such as social media, email marketing, and blogs to connect and engage with your customers on a local as well global level.
          .accordion-item
            h3#digital-marketing-headingThree.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#digital-marketing-collapseThree' aria-expanded='false' aria-controls='digital-marketing-collapseThree')
                | What Are The Different Types of Digital Marketing?
            #digital-marketing-collapseThree.accordion-collapse.collapse(aria-labelledby='digital-marketing-headingThree' data-bs-parent='#digital-marketing-Faq')
              .accordion-body
               h4 Content Marketing
               p Content marketing is the process of creating and sharing relevant and consistent content.
               p One of the key goals of content marketing is to provide people with inspirational, life-changing content that adds value to their lives.
               h4 Email Marketing
               p Email marketing is about creating a list of segmented groups of people and crafting an intimate, personalized message for each group. A segmented group might be parents, students, or married couples, and all these groups should be marketed to different groups.
               h4 Search Engine Marketing
               p Search Engine Optimization or SEO is the practice of increasing the traffic to your church website, blogs, newsletters, and social media content.
               h4  Social Media Marketing
               p Social media marketing is the use of social media platforms to connect and engage with your congregation and your local community.
               h4 PPC Marketing
               p Pay-per-click, is a digital marketing model where advertisers run ads on a platform such as Google Ads and pays a fee every time someone clicks on an ad.
               h4 Affiliate Marketing
               p Affiliate marketing involves earning a commission by promoting a product or service made by another company

         h2.mt-5 Questions About Web Development
         #web-Development-Faq.accordion.accordion-flush
          .accordion-item
            h3#web-Development-headingOne.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#digital-marketing-collapseOne' aria-expanded='false' aria-controls='digital-marketing-collapseOne')
                | Web Development vs Web Design.
            #web-Development-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#digital-marketing-Faq')
              .accordion-body
                p
          .accordion-item
            h3#web-Development-headingTwo.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#web-development-collapseTwo' aria-expanded='false' aria-controls='web-development-collapseTwo')
                | Why is Web Design Important?.
            #web-Development-collapseTwo.accordion-collapse.collapse(aria-labelledby='digital-marketing-headingTwo' data-bs-parent='#web-Development-Faq')
              .accordion-body
                p With Digital Marketing you can use channels such as social media, email marketing, and blogs to connect and engage with your customers on a local as well global level.
          .accordion-item
            h3#web-Development-headingThree.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#web-development-collapseThree' aria-expanded='false' aria-controls='web-development-collapseThree')
                | What Are The Different Types of Digital Marketing?
            #web-Development-collapseThree.accordion-collapse.collapse(aria-labelledby='web-Development-headingThree' data-bs-parent='#web-Development-Faq')
              .accordion-body
               h4 Content Marketing
               p Content marketing is the process of creating and sharing relevant and consistent content.
               p One of the key goals of content marketing is to provide people with inspirational, life-changing content that adds value to their lives.
               h4 Email Marketing
               p Email marketing is about creating a list of segmented groups of people and crafting an intimate, personalized message for each group. A segmented group might be parents, students, or married couples, and all these groups should be marketed to different groups.
               h4 Search Engine Marketing
               p Search Engine Optimization or SEO is the practice of increasing the traffic to your church website, blogs, newsletters, and social media content.
               h4  Social Media Marketing
               p Social media marketing is the use of social media platforms to connect and engage with your congregation and your local community.
               h4 PPC Marketing
               p Pay-per-click, is a digital marketing model where advertisers run ads on a platform such as Google Ads and pays a fee every time someone clicks on an ad.
               h4 Affiliate Marketing
               p Affiliate marketing involves earning a commission by promoting a product or service made by another company


         h2.mt-5 Questions About church Marketing
         #church-Faq.accordion.accordion-flush
          .accordion-item
            h3#church-headingOne.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#church-collapseOne' aria-expanded='false' aria-controls='church-collapseOne')
               | Why do churches need digital marketing?
            #church-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#digital-marketing-Faq')
              .accordion-body
                p Digital marketing for churches is a new form of digital outreach that helps you differentiate your church from the other churches in your area.
          .accordion-item
            h3#church-headingTwo.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#church-collapseTwo' aria-expanded='false' aria-controls='church-collapseTwo')
                | How to market a church a church?
            #church-collapseTwo.accordion-collapse.collapse(aria-labelledby='church-headingTwo' data-bs-parent='#digital-marketing-Faq')
              .accordion-body
                p There are several ways to do marketing for a church.
                p Here are just a few.
                ul
                  li Your church website
                  li Social media campaigns
                  li Text Message campaigns
                  li Email campaigns
                  li Digital ads

          .accordion-item
            h3#church-headingThree.accordion-header
              button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#church-collapseThree' aria-expanded='false' aria-controls='church-collapseThree')
                | What Are The Different Types of Digital Marketing?
            #church-collapseThree.accordion-collapse.collapse(aria-labelledby='church-headingThree' data-bs-parent='#digital-marketing-Faq')
             .accordion-body
               h4.mb-5 here are 22 Church Social Media Post Ideas
               h5 1&#8226; Recap an event
               p Post the exciting highlights of an event that just occurred. Make people who missed the event kick themselves and prepare to catch the next one and make the people who attended the event remember how much fun or how life-changing the event was.

               h5 2&#8226; Share Testimonies
               p Testimonies are how churches can encourage and inspire by sharing stories that help us all relate to our own hills and valleys. These stories are what drive us and help us keep our faith. Simple testimonial posts can change lives.

               h5 3&#8226; Highlight your volunteers
               p We all love our volunteers so he would show them, and tell them why we love them so much. Maybe reward them with a gift or let people post a nice message about them in a post.
               p.mt-5 To read the entire blog post &nbsp
                a(href="https://assure-studios.blogspot.com/2022/03/22-church-social-media-post-ideas.html" title="22 Church Social Media Post Ideas") 22 Church Social Media Post Ideas



