extends template.pug
block title&description
block bodyTag 
block content 
 .banner.container-fluid
  .row.align-items-center.flex-wrap
   .col-6 
    img(src="./img/assure-banner-img.png", alt="")
   .col-5
    .banner-title Assure Studios 
    h1 Our Mission is to help small businesses and churches grow and prosper through digital marketing strategies
 .wrapper
  .section.intro.container-fluid 
   .row.align-items-center.flex-wrap
    .col-6
     h2 We Are A Digital Marketing Company
     p Assure Studios is based out of Dallas, Texas. Our Mission is to help small businesses and churches grow and prosper through Digital Marketing Strategies. We offer social media management, social media marketing, and web development.
     p There is no quick fix to digital marketing. Digital marketing takes time and patience. Assure Studios create realistic smart goals and weekly reports. So that you know your money is not being wasted
    .col-6 
     img(src="./img/assure-banner-img.png", alt="")





