extends template.pug

block title&description
 meta(name="description" content="Assure Studios Web Portfolio")
 title Assure Studios-Portfolio-Digital Marketing-Dallas,Texas
block bodyTag
  -var bodyTag = "portfolio"
  body(id=`${bodyTag}`)


block content
   .section.intro
     h1 Our Simple Portfolio
     h3.sectionHelper The portfolio shows off our work, our creative style, and our ability to create clean responsive websites.
   .container-fluid
      .row
        .col-xl-4.portfolio-item(data-aos="fade-up", data-aos-delay="500")
         a(href="./portfolio/dallas-missionary-church-version-one.html")
          img(src="./img/Dallas-missionary-church-version-one.png" alt="a church website mockup")
         h2 Dallas Missionary Church Version One
        .col-xl-4.portfolio-item(data-aos="fade-up", data-aos-delay="800")
         a(href="./portfolio/dallas-missionary-church-version-two.html")
          img(src="./img/Dallas-missionary-church-version-two.png" alt="a church website mockup")
         h2 Dallas Missionary Church Version Two
        .col-xl-4.portfolio-item(data-aos="fade-up", data-aos-delay="1200")
          a(href="./portfolio/dallas-missionary-church-version-three.html")
           img(src="./img/Dallas-missionary-church-version-three.png" alt="a church website mockup")
          h2 Dallas Missionary Church Version Three

