extends template.pug
block title&description
  meta(name="description" content="Assure Studios help small business and churches grow and prosper with Search Engine Optimization Call for a free consultation (972) 898-7128")
  title Assure Studios-Search Engine Optimization
block bodyTag
  -var bodyTag="seo"
  body(id=`${bodyTag}`)

block content
    .container-fluid.mt-5
     .row
      .col-xl-8
        img(src="img/assurestudios.com-seo-and-coffee.jpeg" alt="A computer with the words SEO on it with a coffee cup on the side")
        .content-section
          h1 What is Search Engine Optimization?
          p Search Engine Optimization or SEO is the practice of increasing the traffic to your website, blogs, newsletters, and social media content through search engines such as Google.
          p With SEO you find keywords and phrases that people are using to search for the services or products your business provide. and optimize your online content for these keywords and phrases,
          p If search engines like Google trust your web page and think the content you have is more relevant than your competitors they will place it towards the top of the page.
          h3.mt-3 Here's an example
          p lets say you have a dentistry located in Dallas Texas, and lets say your dentistry specializes in catering to children. When someone types into google children dentist in Dallas Texas, The goal is to have your dentistry website appear in the first page of the google results.
          p To understand SEO let&rsquo;s take a look at how search engines work. There are typically three processes to Search Engines. The crawl, the index, and the ranking.
        .content-section
          h2 Crawling
          p Once Google discovers a page URL, it visits or crawls, the page to find out what&rsquo;s on it. Google renders the page and analyzes both the text and non-text content and overall visual layout to decide where it should appear in search results. The better that Google can understand your site, the better we can match it to people who are looking for your content.
        .content-section
          h2 Indexing
          p After Crawling your site Google then indexes it. The Google index is similar to an index in a library, which lists information about all the books the library has available. Yet, rather than books, the Google index lists all of the web pages that Google knows about.
        .content-section
          h2 Ranking
          p  When someone performs a search, search engines search their index for relevant content and then order that content. This ordering of search results by relevance is known as ranking. Our job is to help your business website rank on the first page of SERPs for certain keywords and phrases.
          p.mt-2 #[b Other Ranking Factors]
          p There are many other ranking factors such as page speed, security does your website has HTTPS instead of HTTP, and back-links which are how many reputable sites link to your business site.
        .content-section
          h2 What Does SEO Mean For Your Business Website?
          p SEO has an incredible return on your investment; it&rsquo;s affordable and long-lasting. It makes it easy for people to find your business website and your business web content. This creates brand recognition,  online engagement, and ultimately a more prosperous business.
        .content-section
          h2 The Takeaways&mldr;.
          ul
            li SEO has an incredible return on your investment; it&rsquo;s affordable and long-lasting.
            li SEO is the practice of increasing the traffic to your business website, blogs, newsletters, and social media content.
            li Keywords and key phrases are terms added to online content to improve search engine rankings for those terms.
      .talents.col-xl-4
        h4 Other Talents
        div
          a(href="./web-development.html" title="assure studios explains web development") Web Development Explained
        div
          a(href="./digital-marketing.html" title="assure studios explains digital marketing") Digital Marketing Explained

