.other-locals
      h4 Other Locales we serve
      div
       a(href="../../waco-web-designer.html") The Waco Texas Area
      div
       a(href="../../fort-worth-web-designer.html") The Fort Worth Texas Area
      div
       a(href="../../austin-web-designer.html") The Austin Texas Area
